@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --font-family: "DM Sans", sans-serif;
    --box-padding: 0.5rem;

    --blue0: #070C4B;
    --blue1: #1d2482;
    --blue2: #333dbe;
    --blue3: #555cdd;
    --blue4: #898de0;
    --blue5: #dadcfe;

    --warm_grey0: #443e36ff;
    --warm_grey1: #65533aff;
    --warm_grey2: #8f7a59ff;
    --warm_grey3: #ae9878ff;
    --warm_grey4: #c4b49fff;
    --warm_grey5: #e7e2dbff;

    --pass-light: #afe0b7ff;
    --pass: #4ba359ff;
    --pass-dark: #2f6638ff;
    --warn-light: #e8d28fff;
    --warn: #eab30dff;
    --warn-dark: #8d6c08ff;
    --fail-light: #f0c6bcff;
    --fail: #d65d3eff;
    --fail-dark: #862a13ff;
}

body {
    background-color: var(--warm_grey5);
}

.grid-container {
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr 1fr;
    gap: 0.5rem;
}

.box.sidebox {
    grid-row: span 3;
}

.box.sidebox p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.box {
    background-color: #ffffff;
    padding: 0.5rem;
    border: var(--warm_grey4) solid 1px;
}

.box h1 {
    font-size: 1rem;

    margin-top: 0px;
    margin-left: calc(-1 * var(--box-padding)); 
    margin-right: calc(-1 * var(--box-padding)); 

    padding-bottom: var(--box-padding);
    padding-left: var(--box-padding);
    padding-right: var(--box-padding);

    border-bottom: 1px solid var(--warm_grey4);
}

.box h1:not(:first-child) {
    padding-top: var(--box-padding);
    border-top: 1px solid var(--warm_grey4);
}

.box:has(table) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.box:has(table) h1 {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
}

.box table {
    font-size: 13px;

    width: 100%;
    border-collapse: collapse;
    margin-top: var(--box-padding);

    border-top: 0px;
    border-bottom: 0px;

    margin-top: 0px;
    margin-bottom: 0px;
}

.box tr:last-child td {
    border-bottom: none;
}

.box tr:last-child {
    border-bottom: none;
}

span.row-title {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.25px;
    color: #65533aff;

    font-weight: 500;
}

.box th, .box td {
    text-align: left;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid var(--warm_grey5);
}

.box th:first-child, .box td:first-child {
    padding-left: var(--box-padding);
}

.box th:last-child, .box td:last-child {
    padding-right: var(--box-padding);
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

body .page-columns {
    display: grid;
    gap: 0;
    grid-template-columns: 
    [screen-start] 1.5em 
    [screen-start-inset page-start page-start-inset body-start-outset] 0fr 
    [body-start] 1.5em 
    [body-content-start] 12fr 
    [body-content-end] 0px 
    [body-end] 35px 
    [body-end-outset] 0px 
    [page-end-inset] 0px 
    [page-end] 0fr 
    [screen-end-inset] 1.5em 
    [screen-end]
}

span.row-title.above {
    display: block;
    font-size: 8px;
    font-weight: 600;
}


.box figure {
    margin: 0;
    width: 100%;
}

.box img {
    width: 100%;
    margin: 0;
}

#logo {
    max-width: 150px;
    text-align: center;
    margin: auto;
    display: block;
}

.box hr {
    border-top: 1px solid var(--warm_grey4);
    margin-top: var(--box-padding);
    margin-bottom: var(--box-padding);
    opacity: 1;
}

.title {
    display: none;
}

span#overrepresented-sequences-count {
    font-size: 100px;
    font-weight: 200;
    display: block;
    margin: auto;
    margin-top: 10px;
    line-height: .8;
}

.overrepresented-sequences p {
    text-align: center;
    margin-top: 50px;
}